*{
  box-sizing: border-box;
}









@media (max-width: 375px){
  .App{
    padding: 20% 5%;
  }
}

.App{

}

.card{
  padding: 10%;
}

.SEDANS{
  background-color: hsl(31, 77%, 52%);
}

.SUVS{
  background-color: hsl(184, 100%, 22%);
}

.LUXURY{
  background-color: hsl(179, 100%, 13%);
}

.attribution{
   font-size: 11px;
   text-align: center; 
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}

