*{
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 0%, 95%);
}

.App{
  margin: 12% 20% 10%;
}

.row{
  display: inline-flex;
}

.card{
  display: inline-block;
  padding: 5%;
  width: 33%;
}

.card h1{
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

.card p{
  color: hsl(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 2em;
}

.btn{
  border-radius: 50px;
  display: inline-block;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  margin-top: 60px;
  padding: 15px;
  width: 70%;
}

.SEDANS{
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.SUVS{
  background-color: hsl(184, 100%, 22%);
}

.LUXURY{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0  10px 10px 0;
}

.SEDANS .btn{
  border: 2px solid hsl(31, 77%, 55%);
  color: hsl(31, 77%, 52%);
}

.SUVS .btn{
  border: 2px solid hsl(184, 100%, 25%);
  color: hsl(184, 100%, 22%);
}

.LUXURY .btn{
  border: 2px solid hsl(179, 100%, 15%);
  color: hsl(179, 100%, 13%);
}

.attribution{
   font-size: 11px;
   text-align: center; 
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
  .App{
    margin: 20% 7%;
  }

  .row{
    display: block;
  }

  .card{
    display: block;
    padding: 15%;
    width: 100%;
  }

  .SEDANS{
    border-radius: 10px 10px 0 0;
  }
  
  .LUXURY{
    border-radius: 0 0 10px 10px;
  }

  .btn{
    margin-top: 20px;
  }
}
